</main>
<footer>
  <main>

<div>
  <section>
    <aside>
      <a href="#top">Back to top</a>.
    </aside>
  </section>
</div>


    <section>

      <aside>
        <h4>Search</h4>
        <form method="get" action="/cgi-bin/search.cgi">
          <input type="text" name="term" size=31 maxlength=255 value="">
          <button type="submit" name="sa" value="Search">
          <svg class="gem-c-search__icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
  <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
  <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
          </svg>
          </button>
        </form>
      </aside>

      <aside>
        <h4>Join the mailing list</h4>
        <form action="/cgi-bin/ml.cgi" method="post">
          <input placeholder="you@address.com" name="em" type="text" size=31 maxlength=255 value="">
          <button alt="Join" name="submit">Join</button>
        </form>
      </aside>


    </section>

    <section>

      <aside>
        <hr/>
        <h5>Membership</h5>
        <p>
        The Thomas Paine National Historical Association is offering
        memberships to those who are interested in the founding
        father and global revolutionary Thomas Paine - his life,
        works, and legacy.
        </p>
        <input role="link" type="button" value="Become a member" onclick="javascript:window.location='/pages/membership.html'"/>
      </aside>


      <aside>
        <hr/>
        <h5>Support</h5>
        <form action="https://www.paypal.com/en/cgi-bin/webscr" method="post">
          <input type="hidden" name="cmd" value="_donations">
          <input type="hidden" name="business" value="info@thomaspaine.org">
          <input type="hidden" name="return" value="http://thomaspaine.org">
          <input type="hidden" name="undefined_quantity" value="0">
          <input type="hidden" name="item_name" value="Donate to The Thomas Paine National Historical Association">
          <input type="hidden" name="charset" value="utf-8">
          <input type="hidden" name="no_shipping" value="1">
          <input type="hidden" name="image_url" value="http://thomaspaine.org/images/donate_logo.png">
          <input type="hidden" name="cpp_headerback_color" value="F6E6CE">
          <input type="hidden" name="cancel_return" value="{{ SITEURL }}">
          <input type="hidden" name="no_note" value="0">
          <p>
            Consider supporting the Thomas Paine National Historical
            Association. As a 100% volunteer organization, every dollar we
            receive goes directly to supporting our mission. We are a
            tax-deductible, 501 c(3) charitable institution. Please donate
            via PayPal today!
          </p>
          <button class="secondary" alt="Donate" name="submit">Donate</button>
        </form>
      </aside>

    </section>


    <section>
      <aside>
        <hr/>
        Copyright &copy; 2022 Thomas Paine National Historical Association
        |
        <a href="https://pandoc.org/">Powered by pandoc</a>
        |
        <a href="https://github.com/dbactual/thomaspaine">Site code is available</a>
      </aside>
    </section>
  </main>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58488671-1', 'auto');
  ga('send', 'pageview');
  </script>
</body></html>
