<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Thomas Paine National Historical Association</title>

    <meta name="theme-color" content="#0b0c0c">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" sizes="16x16 32x32 48x48 128x128 256x256 512x512" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="favicon.icns">

    <meta name="og:title" content="TPNHA">
    <meta name="description" content="Thomas Paine National Historical Association">
    <meta name="og:description" content="To educate the world about the life, works, and legacy of Thomas Paine.">

    <title>Thomas Paine National Historical Association</title>
    <link rel="stylesheet" href="/css/gd.css">
    <link rel="stylesheet" href="/css/css.css">
</head>

<body>
  <a name="top"></a>
  <header>
    <nav>
      <a href="/">
        <img alt="Thomas Paine National Historical Association" src="/images/tplogo-text.svg"/>
      </a>
    </nav>
    <nav role="navigation">
      <ul style="margin-top: 0px; margin-bottom: 0px;">
        <li><a style="$if(ENABLE_BREADCRUMB_HOME)$color: var(--color-hilight)$endif$" href="/">Home</a></li>
        <li><a style="$if(ENABLE_BREADCRUMB_COLLECTED_WORKS)$color: var(--color-hilight)$endif$" href="/pages/collected-works-project.html">Collected Works Project</a>
        </li>
        <li><a style="$if(ENABLE_BREADCRUMB_WRITINGS_AND_TIMELINE)$color: var(--color-hilight)$endif$" href="/writings_and_timeline.html">Writings&nbsp;&&nbsp;Timeline</a></li>
        <li><a style="$if(ENABLE_BREADCRUMB_RESOURCES)$color: var(--color-hilight)$endif$" href="/pages/resources.html">Resources</a></li>

        <li><a style="$if(ENABLE_BREADCRUMB_DONATE)$color: var(--color-hilight)$endif$" href="/pages/donate.html">Donate</a></li>
        <li><a style="$if(ENABLE_BREADCRUMB_MEMBERSHIP)$color: var(--color-hilight)$endif$" href="/pages/membership.html">Membership</a></li>

        <li><a style="$if(ENABLE_BREADCRUMB_ABOUT)$color: var(--color-hilight)$endif$" href="/pages/about-us.html">About</a></li>
        <li style="margin: 0">
          <form  style="margin-top: 10px" method="get" action="/cgi-bin/search">
            <span style="display: inline-block; margin-bottom: 0; padding: 0px; min-width: 25px; min-height: 25px; border: 0px; background-color: inherit;"></span>
            <input style="vertical-align: top; max-width: 200px; height: 25px; padding: 0px; border: 0px;" type="text" name="term" size=31 maxlength=255 value="">
            <button style="margin-bottom: 0; padding: 0px; height: 25px; border: 0px; background-color: inherit;" type="submit" name="sa" value="Search">
              <svg style="display: inline" class="gem-c-search__icon" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
                <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
              </svg>
            </button>
          </form>
        </li>
      </ul>
    </nav>
  </header>
  <nav></nav>
  <main id="main-content">
