<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Thomas Paine National Historical Association</title>

    <meta name="theme-color" content="#0b0c0c">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" sizes="16x16 32x32 48x48 128x128 256x256 512x512" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="favicon.icns">

    <meta name="og:title" content="${title} | TPNHA">
    <meta name="description" content="Thomas Paine National Historical Association">
    <meta name="og:description" content="To educate the world about the life, works, and legacy of Thomas Paine.">

    <title>$if(title)$${title} | $endif$ The Thomas Paine National Historical Association</title>
    <link rel="stylesheet" href="/css/tachyons.min.css">

    <style>
      blockquote {
        -webkit-text-size-adjust: 100%;
        font-size: 1rem;
        line-height: 1.5;
        box-sizing: border-box;
        border-left-style: solid;
        border-color: #001b44;
        border-width: .25rem;
        font-family: athelas,georgia,serif;
        color: rgba(0,0,0,.9);
        padding-left: 2rem;
        margin-left: 0;
        margin-top: 0;
      }
      a {
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;
        background-color: transparent;
        box-sizing: border-box;
        text-decoration: underline;
        color: #001b44;
        transition: color .15s ease-in;
      }
      a:hover {
        color: #357EDD;
      }
    </style>

  </head>

  <body class="w-100 f5 sans-serif bg-white" id="top">

    <div class="center mw8 pt3 ph3 mb2">

      <header class="">
        <div class="flex flex-wrap flex-nowrap-ns items-center center w-100">
          <div class="flex items-center w-100 w-100-ns mb2 mb0-ns">
            <a title="The Thomas Paine National Historical Association"
               href="/"
               class="link black-90 $if(ENABLE_BREADCRUMB_HOME)$dark-blue$endif$">
              <img
                src="/images/tp-2.png"
                class="dib v-mid w3 h3 mt1 br-100 mr2 hide-m hide-s"/>
              <div class="dib v-mid f5 f4-m f3-ns fw6 mt1 baskerville">
                The Thomas Paine National Historical Association
              </div>
            </a>
          </div>
        </div>
      </header>

      <header class="pv1">
        <div class="flex flex-wrap flex-nowrap-ns items-center center w-100 f6 fw6 black-70">

          <a title="Collected Works Project"
             class="pv1-ns dim link black-70 mr3 dib tracked-tight $if(ENABLE_BREADCRUMB_COLLECTED_WORKS)$dark-blue bb$endif$"
             href="/pages/collected-works-project.html">
            Collected Works Project
          </a>

          <a title="Writings & Timeline"
             class="pv1-ns dim link black-70 mr3 dib tracked-tight $if(ENABLE_BREADCRUMB_WRITINGS_AND_TIMELINE)$dark-blue bb$endif$"
             href="/writings_and_timeline.html">
            Writings&nbsp;&&nbsp;Timeline
          </a>

          <a title="Resources"
             class="pv1-ns dim link black-70 mr3 dib tracked-tight $if(ENABLE_BREADCRUMB_RESOURCES)$dark-blue bb$endif$"
             href="/pages/resources.html">
            Resources
          </a>

          <a title="Membership"
             class="pv1-ns dim link black-70 mr3 dib tracked-tight $if(ENABLE_BREADCRUMB_MEMBERSHIP)$dark-blue bb$endif$"
             href="/pages/membership.html">
            Membership
          </a>

          <a title="Donate"
             class="pv1-ns dim link black-70 mr3 dib tracked-tight $if(ENABLE_BREADCRUMB_DONATE)$dark-blue bb$endif$"
             href="/pages/donate.html">
            Donate
          </a>

          <a title="About"
             class="pv1-ns dim link black-70 mr3 dib tracked-tight $if(ENABLE_BREADCRUMB_ABOUT)$dark-blue bb$endif$"
             href="/pages/about-us.html">
            About
          </a>

          <form class="fr mw7 center br2-ns ba b--black-50" action="/cgi-bin/search.cgi" method="get">
              <fieldset class="cf bn ma0 pa0">
                <div class="cf">
                  <input class="f6 input-reset bn fl black-80 bg-white lh-solid w-100 w-70-m w-70-l br2-ns br--left-ns" placeholder="" type="text" name="term" value="" id="search">
                  <input class="f6 button-reset fl tc bn bg-animate bg-navy hover-bg-blue white pointer w-100 w-30-m w-30-l br2-ns br--right-ns" type="submit" name="submit" alt="Search" value="Search">
                </div>
              </fieldset>
            </form>

        </div>

      </header>
    </div>

    <main class="bt b--black-10">
