<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Thomas Paine National Historical Association</title>

    <meta name="theme-color" content="#0b0c0c">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" sizes="16x16 32x32 48x48 128x128 256x256 512x512" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="favicon.icns">

    <meta name="og:title" content="${title} | TPNHA">
    <meta name="description" content="Thomas Paine National Historical Association">
    <meta name="og:description" content="To educate the world about the life, works, and legacy of Thomas Paine.">

    <title>${title} | The Thomas Paine National Historical Association</title>
    <link rel="stylesheet" href="/css/tachyons.min.css">

    <style>
      blockquote {
        -webkit-text-size-adjust: 100%;
        font-size: 1rem;
        line-height: 1.5;
        box-sizing: border-box;
        border-left-style: solid;
        border-color: #001b44;
        border-width: .25rem;
        font-family: athelas,georgia,serif;
        color: rgba(0,0,0,.9);
        padding-left: 2rem;
        margin-left: 0;
        margin-top: 0;
      }
      a {
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;
        background-color: transparent;
        box-sizing: border-box;
        text-decoration: underline;
        color: #001b44;
        transition: color .15s ease-in;
      }
      a:hover {
        color: #357EDD;
      }

      .measure-ultra-wide {
        max-width: 47em;
      }

      # menu

      .mobile-menu-closed {
        display: none;
      }

      .mobile-menu-open {
        display: block;
      }

    </style>

  </head>

  <body class="w-100 f5 helvetica bg-white"
        id="top">

    <main class="bg-white black-70">

      <div class="mw8 center pa2 h7 cf bb b--black-10">

        <nav class="db dt-l w-100 border-box">

          <a class="db link dim"
             title="The Thomas Paine National Historical Association"
             alt="The Thomas Paine National Historical Association"
             href="/">
            <img class=""
                 alt="TPNHA"
                 src="/images/tpnha.png"
                 >

          </a>


          <a href="#0" id="mobile-menu-toggle" class="link color-inherit f3 pa3 dn-l">
            ☰ Menu
          </a>

          <div id="main-nav" class="db-l dn dtc-l v-mid tc tr-l w-50 f4">
              <a title="Membership"
                 class="dim link black-70 ml3 dib  $if(ENABLE_BREADCRUMB_MEMBERSHIP)$dark-blue bb  b--black-50$endif$"
                 href="/pages/membership.html">
                Membership
              </a>

              <a title="Donate"
                 class="dim link black-70 ml3 dib  $if(ENABLE_BREADCRUMB_DONATE)$dark-blue bb  b--black-50$endif$"
                 href="/pages/donate.html">
                Donate
              </a>

              <a title="About"
                 class="dim link black-70 dib ml3  $if(ENABLE_BREADCRUMB_ABOUT)$dark-blue bb  b--black-50$endif$"
                 href="/pages/about-us.html">
                About
              </a>

          </div>

          <nav id="main-nav-mobile" class="dn absolute tc left-0 w-100 w-40-ns pa2 ba bg-white">

              <a title="Membership"
                 class="pa2  dim link black-70 dib"
                 href="/pages/membership.html">
                Membership
              </a>

              <a title="Donate"
                 class="pa2  dim link black-70  dib"
                 href="/pages/donate.html">
                Donate
              </a>

              <a title="About"
                 class="pa2  dim link black-70 dib"
                 href="/pages/about-us.html">
                About
              </a>

              <hr/>

              <a title="Collected Works Project"
                 class="pa2  dim link black-70 dib"
                 href="/pages/collected-works-project.html">
                Collected Works Project
              </a>
              <a title="Resources"
                 class="pa2  dim link black-70 dib"
                 href="/pages/resources.html">
                Resources
              </a>
              <a title="Videos"
                 class="pa2  dim link black-70 dib"
                 href="/pages/videos.html">
                Videos on Paine
              </a>
              <a title="Search"
                 class="pa2  dim link black-70 dib"
                 href="/pages/search.html">
                Search
              </a>
              <a title="Writings & Timeline"
                 class="pa2  dim link black-70 dib"
                 href="/writings_and_timeline.html">
                Writings
              </a>

          </nav>


        </nav>

      </div>

      <div class="mw8 w-100 center ph2 pt1 cf mb4">

        <div class="fl w-10-ns w-100 dn db-l black-70 ttc">

          <div class="pv2 pl1 $if(ENABLE_BREADCRUMB_COLLECTED_WORKS)$bl b--black-50  $endif$">
            <a title="Collected Works Project"
               class="link hover-blue $if(ENABLE_BREADCRUMB_COLLECTED_WORKS)$dark-blue $endif$"
               href="/pages/collected-works-project.html">
              Collected Works Project
            </a>
          </div>
          <div class="pv2 pl1 $if(ENABLE_BREADCRUMB_RESOURCES)$bl b--black-50  $endif$">
            <a title="Resources"
               class="link hover-blue $if(ENABLE_BREADCRUMB_RESOURCES)$dark-blue$endif$"
               href="/pages/resources.html">
              Resources
            </a>
          </div>
          <div class="pv2 pl1 $if(ENABLE_BREADCRUMB_VIDEOS)$bl b--black-50  $endif$">
            <a title="Videos"
               class="link hover-blue $if(ENABLE_BREADCRUMB_VIDEOS)$dark-blue$endif$"
               href="/pages/videos.html">
              Videos on Paine
            </a>
          </div>
          <div class="pv2 pl1 $if(ENABLE_BREADCRUMB_SEARCH)$bl b--black-50  $endif$">
            <a title="Search"
               class="link hover-blue $if(ENABLE_BREADCRUMB_SEARCH)$dark-blue$endif$"
               href="/pages/search.html">
              Search
            </a>
          </div>
          <div class="pv2 pl1 $if(ENABLE_BREADCRUMB_WRITINGS)$bl b--black-50  $endif$">
            <a title="Writings"
               class="link hover-blue $if(ENABLE_BREADCRUMB_WRITINGS)$dark-blue$endif$"
               href="/writings.html">
              Writings
            </a>

          </div>

          <div class="pv2 pl1 $if(ENABLE_BREADCRUMB_TIMELINE)$bl b--black-50  $endif$">
            <a title="Timeline"
               class="link hover-blue $if(ENABLE_BREADCRUMB_TIMELINE)$dark-blue$endif$"
               href="/timeline.html">
              Timeline
            </a>

          </div>


          </ul>

        </div>

        <div class="fl w-90 pl1 pl2-m pl4-ns bl b--black-10">
