${header.html()}

<div class="white bg-navy bt bb b--black-20">
  <div class="tc mt1 mt3-m mt5-l mb1 mb3-m mb4-l center mw7">
    <h1 class="fw6 f4 f3-m f2-l lh-title mt5 mb2">
      To educate the world about the life, works, and legacy of Thomas Paine.
    </h1>
    <div class="fw3 f6 f5-m f3-l mt4 mb4">
      <p class="washed-blue lh-copy mt0">
        The <b>Thomas Paine National Historical Association</b> is the oldest
        historic association for a Founder, established in 1884. We are the
        authority on the life, works, and legacy of Paine, and have been
        assisting scholars and authors for decades.
      </p>

      <div class="mb5">
        <a class="fw4 f6 br-pill bg-dark-blue no-underline lightest-blue ba hover-washed-blue b--light-blue grow pv2 ph3 dib mr3"
           href="/pages/membership.html">
          Membership
        </a>
        <a class="fw4 f6 br-pill bg-dark-green no-underline washed-green ba hover-washed-blue b--light-green grow pv2 ph3 dib mr3"
           href="/pages/donate.html">
          Donate
        </a>
        <a class="fw4 f6 br-pill washed-blue hover-washed-blue no-underline ba grow pv2 ph3 dib"
           href="/pages/about-us.html">
          Learn More
        </a>
      </div>
    </div>
  </div>
</div>


<div class="center mw8">
  <section class="lh-copy">
    <div class="cf">
    
      <article class="fl pv2 w-100 w-50-l pr4-l">

        <h1 class="f4 mb3 pb2 lh-title tracked b ttu black-70 b--black-70">
          The Thomas Paine National Historical Association
        </h1>
        <p class=" lh-copy ">
          983 North Avenue <br/>
          New Rochelle, NY 10804-3609
        </p>
      </article>
      
      <article class="pv2 fl w-100 w-50-l ph3-l">
      
        <h1 class="f4 mb3 pb2 lh-title tracked b ttu black-70 b--black-70">
          Days And Hours
        </h1>
        
        <div class="">
          <ul class="list pl0 measure center">
            <li class="lh-copy pv3 ba bl-0 bt-0 br-0 b--dotted b--black-30">
              Nov 12, 2022 through Nov 16, 2022    10am - 5pm
            </li>
            
          </ul>
        </div>  
      </article>
    </div>
  </section>
</div>

<div class="center mw8">
  <section class="lh-copy">
    <div class="cf">
      <article class="fl pv2 w-100 w-50-l pr4-l">

        <h1 class="f4 mb3 pb2 lh-title tracked b ttu black-70 b--black-70">
          Latest
        </h1>

        <article class="pv2 ph3 ph0-l">
          <div class="flex flex-column flex-row-ns">
            <div class="w-100 w-50-ns pr3-ns order-2 order-1-ns">
              <div class="f6 fw7 ttu tracked">
                Thomas Paine Festival 2022
              </div>
              <p class=" lh-copy ">
                Celebrate with us at the <a href="https://www.thomaspainecenter.org/">Thomas Paine Festival</a>, June 16-18 2022.
              </p>
            </div>
            <div class="pl3-ns order-1 order-2-ns mb4 mb0-ns w-100 w-40-ns">
              <img src="/images/festival-1.png">
            </div>
          </div>
        </article>

        <article class="pv2 ph3 ph0-l">
          <div class="flex flex-column flex-row-ns">
            <div class="w-100 w-50-ns pr3-ns order-2 order-1-ns">
              <div class="f6 fw7 ttu tracked">
                Videos on Paine
              </div>
              <p class=" lh-copy ">
                Several Thomas Paine videos are <a href="/pages/videos.html">available online here</a>.
              </p>
            </div>
            <div class="pl3-ns order-1 order-2-ns mb4 mb0-ns w-100 w-40-ns">
              <img src="/images/tp-1.png">
            </div>
          </div>
        </article>
        <article class="pv2 ph3 ph0-l">
          <div class="flex flex-column flex-row-ns">
            <div class="w-100 w-50-ns pr3-ns order-2 order-1-ns">
              <div class="f6 fw7 ttu tracked">
                The Sherman Copy of the Declaration of Independence
              </div>
              <p class=" lh-copy ">
                A new article concerning Paine's involvement with the creation
                of the Declaration of Independence, <a
                                                      href="/pages/resources/sherman-copy-di.html">The Sherman Copy
                  of the Declaration of Independence</a>.
              </p>
            </div>
            <div class="pl3-ns order-1 order-2-ns mb4 mb0-ns w-100 w-40-ns">
              <img src="/images/sherman-1.png">
            </div>
          </div>
        </article>
        <article class="pv2 ph3 ph0-l">
          <div class="flex flex-column flex-row-ns">
            <div class="w-100 w-50-ns pr3-ns order-2 order-1-ns">
              <div class="f6 fw7 ttu tracked">
                The Official Collected Works of Thomas Paine
              </div>
              <p class=" lh-copy ">
                <a href="/pages/collected-works-project.html">The Official
                  Collected Works of Thomas Paine Editorial Board</a> has been
                formed.
              </p>
            </div>
            <div class="pl3-ns order-1 order-2-ns mb4 mb0-ns w-100 w-40-ns">
              
            </div>
          </div>
        </article>
      </article>

      <article class="pv2 fl w-100 w-50-l ph3-l">

        <h1 class="f4 mb3 pb2 lh-title tracked b ttu black-70 b--black-70">
          Writings
        </h1>

        <ul class="pv2 fw5 lh-copy list measure center">
          ${writings_index.html()}
        </ul>

        <p class=" lh-copy">
          This site provides the
          most important articles on Paine, the known and some soon-to-be-known
          new works, and the deattributions we have made. We were founded to
          correct the record on Paine, and rescue it from the negative
          propaganda and slander perpetrated against him by most historians in
          the 19th century. For the most part we have succeeded. Now we are on
          the threshold of making public our findings on Paine's complete works,
          after twenty years of research, and the establishment of the first
          official <a
                     href="/pages/the-official-collected-works-of-thomas-paine-project.html">Editorial
            Board for the Collected Works of Thomas Paine</a>, staffed by the
          leading Paine scholars in the world.
        </p>

        <section class="mw7 center pt0 ph5-ns">
          <p class="lh-copy measure">
            <img class="w-100" src="/images/tplogo-1.svg"/>
          </p>
        </section>

      </article>
      <article class="pv2 fl w-100 w-third-l pl4-l">

        <h1 class="f4 mb3 pb2 lh-title tracked b ttu black-70 b--black-70">
          Timeline
        </h1>

        <ul class="pv3 fw5 lh-copy list measure center">
          ${timeline_index.html()}
        </ul>

      </article>
    </div>

</div>

<div class="bg-light-blue w-100 pv4">
  <form class="mw7 center pa4" action="/cgi-bin/ml.cgi" method="post">
    <fieldset class="cf bn ma0 pa0">

      <legend class="pa0 f5 f4-ns mb3 black-80">Join the mailing list</legend>

        <input class="f6 f5-l input-reset bn fl black-80 bg-white pv2 ph3 lh-solid w-100 w-75-m w-80-l br2-ns mr2" placeholder="Your Email Address" type="text" name="em" value="" id="email-address">

          <label class="clip" for="email-address">Email Address</label>

          <input class="fw4 f6 br-pill washed-blue bg-dark-blue hover-washed-blue no-underline ba grow dib button-reset fl tc bn pointer pv2 ph4" type="submit" name="submit" alt="Join" value="Join">

    </fieldset>
  </form>
</div>


${footer.html()}
