${header.html()}


<div class="center ph2 pt1 cf mb4">

  <section class="fl w-100">

    <div class="fl w-100 pl3 pr3 br3 bb br b--black-20 bg-black-10">

      <div class="pt2 pb3 center bb b--black-10">
          <h1 class="fw6 f5 f4-m f3-l lh-title">
            To educate the world about the life, works, and legacy of Thomas Paine.
          </h1>

          <div class="fw3 f7 f6-m f4-l mt4">

            <p class="lh-copy">
              The <b>Thomas Paine National Historical Association</b> is the oldest
              historic association for a Founder, established in 1884. We are the
              authority on the life, works, and legacy of Paine, and have been
              assisting scholars and authors for decades.
            </p>

            <div class="w-100 tc">
              <a class="fw4 f6 br-pill bg-dark-blue no-underline white ba hover-washed-blue b--light-blue grow pv2 ph3 dib mr3 mb1"
                 href="/pages/membership.html">
                Membership
              </a>
              <a class="fw4 f6 br-pill bg-dark-green no-underline white ba hover-washed-blue b--light-green grow pv2 ph3 dib mr3 mb1"
                 href="/pages/donate.html">
                Donate
              </a>
              <a class="fw4 f6 br-pill bg-black white hover-washed-blue no-underline ba grow pv2 ph3 dib mb1"
                 href="/pages/about-us.html">
                Learn More
              </a>
            </div>
          </div>
      </div>
    </div>

    <div class="fl w-100 lh-copy">

      <div class="fl w-100 w-50-l">
        <h3>Address</h3>
        <p class="pl2">
          <b>The Thomas Paine National Historical Association</b> <br/>
          983 North Avenue <br/>
          New Rochelle, NY 10804-3609
        </p>
      </div>


      <div class="fl w-100 w-50-l pr2">

        <h3>Days And Hours</h3>

        <div class="pl2">

          <p>
            May 12, 2023  
            <br/>
            12pm to 5pm
            
            <br/>
            
            May 13, 2023
            <br/>
            9am to 1pm 
          </p>
        </div>

      </div>
    </div>




    <div class="fl w-100">

        <p class="lh-copy">
          This site provides the
          most important articles on Paine, the known and some soon-to-be-known
          new works, and the deattributions we have made. We were founded to
          correct the record on Paine, and rescue it from the negative
          propaganda and slander perpetrated against him by most historians in
          the 19th century. For the most part we have succeeded. Now we are on
          the threshold of making public our findings on Paine's complete works,
          after twenty years of research, and the establishment of the first
          official <a
                     href="/pages/collected-works-project.html">Editorial
            Board for the Collected Works of Thomas Paine</a>, staffed by the
          leading Paine scholars in the world.
        </p>

    </div>

  </section>
</div>



<div class="mw8 center ph2 pt1 cf mb4">

  <section class="fl w-100">

    <div class="fl pa2 w-100 w-50-l">
      <h3>The Sherman Copy of the Declaration of Independence</h3>
      <p class="lh-copy">
        A new article concerning Paine's involvement with the creation
        of the Declaration of Independence, <a
                                              href="/pages/resources/sherman-copy-di.html">The Sherman Copy
          of the Declaration of Independence</a>.
      </p>
    </div>


    <div class="fl pa2 w-100 w-50-l">
      <h3>The Official Collected Works of Thomas Paine</h3>
      <p class=" lh-copy ">
        <a href="/pages/collected-works-project.html">The Official
          Collected Works of Thomas Paine Editorial Board</a> has been
        formed.
      </p>
    </div>

  </section>

</div>



<div class="mw8 center pt0 ph5-ns pb4">
  <div class="tc">
    <img class="w-25-ns w-100" src="/images/tplogo-1.svg"/>
  </div>
</div>

<div class="bg-light-blue w-100 pv4 br3 bb br b--black-20">
  <form class="mw7 center ph4" action="/cgi-bin/ml.cgi" method="post">


    <fieldset class="cf bn ma0 pa0">

      <legend class="pa0 f5 f4-ns mb3 black-80">Join the mailing list</legend>

        <input class="f6 f5-l input-reset bn fl black-80 bg-white pv2 ph3 lh-solid w-100 w-75-m w-80-l br2-ns mr2" placeholder="Your Email Address" type="text" name="em" value="" id="email-address">

          <label class="clip" for="email-address">Email Address</label>

          <input class="fw4 f6 br-pill washed-blue bg-dark-blue hover-washed-blue no-underline ba grow dib button-reset fl tc bn pointer pv2 ph4" type="submit" name="submit" alt="Join" value="Join">

    </fieldset>
  </form>
</div>



${footer.html()}
