${header.html()}

<div class="center mw8 ph3 cf mt4">

  <h1 class="f4 mb3 pb2 lh-title tracked b ttu black-70 b--black-70">
    $if(title)$
      ${title}
    $endif$
  </h1>

  <div class="f6 lh-copy pb3 mb3
              $if(PubYear)$
                bb b--black-20
              $endif$
              ">
    $if(PubYear)$
      <time class="f6 ttu tracked gray">
        ${PubYear}
      </time>
    $endif$

    $if(CONTENT_TXT_URL)$
      <time class="f6 ttu tracked gray">
        <a href="${CONTENT_TXT_URL}">View a plain text version of this page</a>.
      </time>
    $endif$
  </div>

  <div class="lh-copy measure-wide">
    ${body}
  </div>
</div>

${footer.html()}
