${header.html()}


<div class="center ph2 pt1 cf mb4">

  <section class="fl w-100">

      <h1 class="f4 lh-title tracked b black-70 b--black-70">
        $if(title)$
        ${title}
        $endif$
      </h1>

      <div class="f6 lh-copy
                  $if(PubYear)$
                  bb b--black-20
                  $endif$
                  ">
        $if(PubYear)$
        <time class="f6 ttu tracked gray">
          ${PubYear}
        </time>
        $endif$

        $if(CONTENT_TXT_URL)$
        <time class="f6 ttu tracked gray">
          <a href="${CONTENT_TXT_URL}">View a plain text version of this page</a>.
        </time>
        $endif$
      </div>

      <div class="lh-copy measure-ultra-wide">
        ${body}
      </div>
    </div>

  </section>
</div>





${footer.html()}
