${header.html()}

<section>
  <aside>
      <img style="margin-top: 36px;" src="/images/thomaspaine-2.png"/>
  </aside>
  <aside>
      <h3>Writings</h3>
      ${writings_index.html()}
  </aside>
  <aside>
      <h3>Timeline</h3>
      ${timeline_index.html()}
  </aside>
</section>

${footer.html()}
